.git
.github
.env
**/.env
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/coverage.xml
**/htmlcov
**/build
**/.dart_tool
**/firebase-credentials.json
**/keys/*.pem
mobile
admin_web
